body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.calculator {
  width: 380px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-size: 18px;
  color: black;
  width: 25%;
  text-align: center;
  margin-top: 1px;
  padding: 1em 0;
  box-shadow:
    0 2px 2px -2px rgba(0, 0, 0, 0.45),
    2px 0 2px -2px rgba(0, 0, 0, 0.45);
}

.btn:hover {
  background-color: gray;
}

.output {
  width: 100%;
  text-align: end;
  background-color: grey;
  color: white;
  padding-right: 5px;
  border: 2px solid black;
}

.zero {
  width: 50%;
}

.operations {
  background-color: orange;
}

.quotes {
  min-width: 300px;
  width: 40%;
}

.author {
  font-weight: 500;
  font-style: italic;
  color: black;
}
