@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  background: linear-gradient(90deg, #fff, gray);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
}

.calculator {
  width: 380px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-size: 18px;
  color: black;
  width: 25%;
  text-align: center;
  margin-top: 1px;
  padding: 1em 0;
  box-shadow:
    0 2px 2px -2px rgba(0, 0, 0, 0.45),
    2px 0 2px -2px rgba(0, 0, 0, 0.45);
}

.btn:hover {
  background-color: gray;
}

.output {
  width: 100%;
  text-align: end;
  background-color: grey;
  color: white;
  padding-right: 5px;
  border: 2px solid black;
}

.zero {
  width: 50%;
}

.operations {
  background-color: orange;
}

.quotes {
  min-width: 300px;
  width: 40%;
}

.author {
  font-weight: 500;
  font-style: italic;
  color: black;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.link {
  color: black;
  font-size: 18px;
  padding: 0 1.5em;
  margin: 0;
}

.calc {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.cal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
  padding: 0 5em;
}

.math {
  height: 100%;
}

.math-text {
  height: 100%;
}

.homeContent p {
  font-size: 18px;
  font-weight: 600;
}
